        <!--====== Start Footer ======-->
        <footer class="main-footer black-bg">
            <div class="container">
                <!--=== Footer Widget ===-->
                <div class="footer-widget-area pt-75 pb-30">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget about-company-widget mb-40 wow fadeInUp">
                                <h4 class="widget-title">About</h4>
                                <div class="footer-content">
                                    <p>With a team of seasoned guides and a deep love for the great outdoors, we strive to provide safe, enjoyable, and immersive journeys into the heart of nature.</p>
                                    <a href="#" class="footer-logo"><img src="assets/images/logo/logo-white.png" alt="Site Logo"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget service-nav-widget mb-40 pl-lg-70 wow fadeInDown">
                                <h4 class="widget-title">Services</h4>
                                <div class="footer-content">
                                    <ul class="footer-widget-nav">
                                        <li><a href="#">Caravan Soler Tent</a></li>
                                        <li><a href="#">Family Tent Camping</a></li>
                                        <li><a href="#">Classic Tent Camping</a></li>
                                        <li><a href="#">Wild Tent Camping</a></li>
                                        <li><a href="#">Small Cabin Wood</a></li>
                                    </ul>
                                    <ul class="footer-widget-nav">
                                        <li><a href="#">Need a Career ?</a></li>
                                        <li><a href="#">Latest News & Blog</a></li>
                                        <li><a href="#">Core Features</a></li>
                                        <li><a href="#">Meet Our teams</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <!--=== Footer Widget ===-->
                            <div class="footer-widget footer-newsletter-widget mb-40 pl-lg-100 wow fadeInUp">
                                <h4 class="widget-title">Newsletter</h4>
                                <div class="footer-content">
                                    <p>Which of us ever undertake laborious
                                        physical exercise except obtain</p>
                                    <form>
                                        <div class="form_group">
                                            <label><i class="far fa-paper-plane"></i></label>
                                            <input type="email" class="form_control" placeholder="Email Address" name="email" required>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--=== Footer Copyright ===-->
                <div class="footer-copyright">
                    <div class="row">
                        <div class="col-lg-6">
                            <!--=== Footer Text ===-->
                            <div class="footer-text">
                                <p>Copy 2023 <span style="color: #F7921E;">GoWilds</span>, All Right Reserved</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!--=== Footer Nav ===-->
                            <div class="footer-nav float-lg-end">
                                <ul>
                                    <li><a href="#">Setting & privacy</a></li>
                                    <li><a href="#">Faqs</a></li>
                                    <li><a href="#">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!--====== End Footer ======-->