        <!--====== Start Breadcrumb Section ======-->
        <section class="page-banner overlay pt-170 pb-220 bg_cover" style="background-image: url(aassets/images/place/backgroundimage.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="page-banner-content text-center text-white">
                            <h1 class="page-title">Explore Fort in India</h1>
                            <ul class="breadcrumb-link text-white">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Explore Tour Place</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--====== End Breadcrumb Section ======-->