<section class="places-section pb-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="assets/images/place/place-1.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="tour-details.html">Sitting on Boat Spreading Her Arms</a></h4>
                            <p class="location"><i class="far fa-map-marker-alt"></i>North Province, Maldives</p>
                            <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                            <div class="meta">
                                <span><i class="far fa-clock"></i>05 Days</span>
                                <span><i class="far fa-user"></i>25</span>
                                <span><a href="tour-details.html">Details<i class="far fa-long-arrow-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="assets/images/place/place-2.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="tour-details.html">White Canopy Tent Near
                                Coastline</a></h4>
                            <p class="location"><i class="far fa-map-marker-alt"></i>North Province, Maldives</p>
                            <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                            <div class="meta">
                                <span><i class="far fa-clock"></i>05 Days</span>
                                <span><i class="far fa-user"></i>25</span>
                                <span><a href="tour-details.html">Details<i class="far fa-long-arrow-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="assets/images/place/place-3.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="tour-details.html">Sitting on Boat Spreading Her Arms</a></h4>
                            <p class="location"><i class="far fa-map-marker-alt"></i>Tambon Khlong Sok, Thailand</p>
                            <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                            <div class="meta">
                                <span><i class="far fa-clock"></i>05 Days</span>
                                <span><i class="far fa-user"></i>25</span>
                                <span><a href="tour-details.html">Details<i class="far fa-long-arrow-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="assets/images/place/place-4.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="tour-details.html">Sitting on Boat Spreading Her Arms</a></h4>
                            <p class="location"><i class="far fa-map-marker-alt"></i>Arefu, AG, Romania</p>
                            <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                            <div class="meta">
                                <span><i class="far fa-clock"></i>05 Days</span>
                                <span><i class="far fa-user"></i>25</span>
                                <span><a href="tour-details.html">Details<i class="far fa-long-arrow-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="assets/images/place/place-5.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="tour-details.html">Cottages In The Middle Of Beach</a></h4>
                            <p class="location"><i class="far fa-map-marker-alt"></i>Vaitāpē, French Polynesia</p>
                            <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                            <div class="meta">
                                <span><i class="far fa-clock"></i>05 Days</span>
                                <span><i class="far fa-user"></i>25</span>
                                <span><a href="tour-details.html">Details<i class="far fa-long-arrow-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="assets/images/place/place-6.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="tour-details.html">Beautiful Floating Villa on River</a></h4>
                            <p class="location"><i class="far fa-map-marker-alt"></i>Gaafu Dhaalu Atoll, Maldives</p>
                            <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                            <div class="meta">
                                <span><i class="far fa-clock"></i>05 Days</span>
                                <span><i class="far fa-user"></i>25</span>
                                <span><a href="tour-details.html">Details<i class="far fa-long-arrow-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="assets/images/place/place-7.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="tour-details.html">Man and Woman Walks on Dock</a></h4>
                            <p class="location"><i class="far fa-map-marker-alt"></i>Maldives</p>
                            <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                            <div class="meta">
                                <span><i class="far fa-clock"></i>05 Days</span>
                                <span><i class="far fa-user"></i>25</span>
                                <span><a href="tour-details.html">Details<i class="far fa-long-arrow-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="assets/images/place/place-8.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="tour-details.html">Trees Under White Clouds during Daytime</a></h4>
                            <p class="location"><i class="far fa-map-marker-alt"></i>Vaitāpē, French Polynesia</p>
                            <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                            <div class="meta">
                                <span><i class="far fa-clock"></i>05 Days</span>
                                <span><i class="far fa-user"></i>25</span>
                                <span><a href="tour-details.html">Details<i class="far fa-long-arrow-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-sm-12 places-column">
                <!--=== Single Place Item ===-->
                <div class="single-place-item mb-60 wow fadeInUp">
                    <div class="place-img">
                        <img src="assets/images/place/place-9.jpg" alt="Place Image">
                    </div>
                    <div class="place-content">
                        <div class="info">
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><a href="#">(4.9)</a></li>
                            </ul>
                            <h4 class="title"><a href="tour-details.html">Body of Water Near Mountain</a></h4>
                            <p class="location"><i class="far fa-map-marker-alt"></i>Bali, Indonesia</p>
                            <p class="price"><i class="fas fa-usd-circle"></i>Price<span class="currency">$</span>93.65</p>
                            <div class="meta">
                                <span><i class="far fa-clock"></i>05 Days</span>
                                <span><i class="far fa-user"></i>25</span>
                                <span><a href="tour-details.html">Details<i class="far fa-long-arrow-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=== Gowilds Pagination ===-->
                <ul class="gowilds-pagination wow fadeInUp text-center">
                    <li><a href="#"><i class="far fa-arrow-left"></i></a></li>
                    <li><a href="#" class="active">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#">04</a></li>
                    <li><a href="#"><i class="far fa-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section><!--====== End Places Section ======-->