        <!--====== Start Booking Section ======-->
        <section class="booking-form-section pb-100">
            <div class="container-fluid">
                <div class="booking-form-wrapper p-r z-2">
                    <form action="index-2.html" class="booking-form-two">
                        <div class="form_group">
                            <span>Check In</span>
                            <label><i class="far fa-calendar-alt"></i></label>
                            <input type="text" class="form_control datepicker" placeholder="Check In">
                        </div>
                        <div class="form_group">
                            <span>Check Out</span>
                            <label><i class="far fa-calendar-alt"></i></label>
                            <input type="text" class="form_control datepicker" placeholder="Check Out">
                        </div>
                        <div class="form_group">
                            <span>Guest</span>
                            <label><i class="far fa-user-alt"></i></label>
                            <input type="text" class="form_control" placeholder="Guest" name="text">
                        </div>
                        <div class="form_group">
                            <span>Accommodations</span>
                            <select class="wide">
                                <option data-display="Accommodations">Accommodations</option>
                                <option value="01">Classic Tent</option>
                                <option value="01">Forest Camping</option>
                                <option value="01">Small Trailer</option>
                                <option value="01">Tree House Tent</option>
                                <option value="01">Tent Camping</option>
                                <option value="01">Couple Tent</option>
                            </select>
                        </div>
                        <div class="form_group">
                            <button class="booking-btn">Check Availability <i class="far fa-angle-double-right"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </section><!--====== End Booking Section ======-->
        <!--====== Start Places Section ======-->